<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>formulario de login</h1>
    <form action="/login" method="POST">
      <input type="email" placeholder="email" name="email">
      <input type="password" placeholder="password" name="pass">
      <button type="submit">Enviar</button>
      
    </form>

    <a href="/register">No tenes una cuenta</a>
  </body>
</html>
