<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>datos de  <%= dataUser.name %> </h1>
    <p>nombre: <%= dataUser.name %> </p>
    <p>apellido: <%= dataUser.lastName %> </p>
    <p>Email: <%= dataUser.email %> </p>
    <p>avatar</p>
</body>
</html>